<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Nosotros</h1>
      <p>
        Somos una empresa comprometida con la excelencia y la satisfacción de
        nuestros clientes. En StarHotel, nos enorgullece ofrecer un servicio
        excepcional y unas instalaciones de primera clase. Nuestro hotel,
        situado en el corazón de una exuberante selva tropical, es conocido por
        su arquitectura moderna y sus impresionantes vistas panorámicas al
        océano.
      </p>

      <img
        src="https://www.citalia.com/-/media/bynder/citalia-properties/cities/rome/starhotels-metropole/archive/109063-exterior-001-hybris.jpg?rev=c67e2bde6eb04912839c9a817ce00ca1&h=596&w=1270"
        alt="Hotel"
        width="100%"
      />
    </div>
  </div>
</div>
