<h2 style="margin-bottom: 0">Registro de Usuario</h2>
<form
  [formGroup]="registroForm"
  (ngSubmit)="onSubmit()"
  style="margin-top: 24px"
>
  <div class="imgRegister">
    <img
      src="https://media.istockphoto.com/id/1469919334/es/foto/una-recepcionista-feliz-est%C3%A1-hablando-con-el-hu%C3%A9sped-del-hotel-y-haciendo-una-reserva-en-una.jpg?s=612x612&w=0&k=20&c=OW7wMDS-UZT7glsMjOVxVvMup0RzYBsCcd9CroQONMg="
      alt="Banner"
      style="width: 100%; height: 210px; object-fit: cover; margin-bottom: 20px"
    />
  </div>
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" formControlName="nombre" required />

  <label for="apellido">Apellido:</label>
  <input type="text" id="apellido" formControlName="apellido" required />

  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email" required />

  <label for="contrasena">Contraseña:</label>
  <input
    type="password"
    id="contrasena"
    formControlName="contrasena"
    required
  />

  <label for="telefono">Teléfono:</label>
  <input type="text" id="telefono" formControlName="telefono" required />

  <label for="direccion">Dirección:</label>
  <input type="text" id="direccion" formControlName="direccion" required />

  <label for="estado">Estado:</label>
  <select id="estado" formControlName="estado" required>
    <option value="ACTIVO">ACTIVO</option>
    <option value="INACTIVO">INACTIVO</option>
  </select>

  <label for="id_rol">Rol:</label>
  <select id="id_rol" formControlName="id_rol" required>
    <option value="1">Administrador</option>
    <option value="2">Usuario</option>
  </select>

  <button type="submit" [disabled]="registroForm.invalid">Registrar</button>
</form>
