<div class="container">
  <div class="row mb-3">
    <div class="col text-end">
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#modalProducto"
        (click)="titulo('Crear', null)"
      >
        Agregar Nueva Habitación
      </button>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Número de Habitación</th>
          <th>Precio por Noche</th>
          <th>Tipo Habitación</th>
          <th>Imagen Habitación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let habitacion of listaHabitaciones">
          <td>{{ habitacion.descripcion }}</td>
          <td>{{ habitacion.estado }}</td>
          <td>{{ habitacion.numeroHabitacion }}</td>
          <td>S/. {{ habitacion.precioPorNoche }}</td>
          <td>{{ habitacion.tipo.descripcion }}</td>
          <td>{{ habitacion.imageHabitacion }}</td>
          <td style="display: flex; gap: 8px; justify-content: center">
            <button
              class="btn btn-warning"
              data-bs-toggle="modal"
              data-bs-target="#modalProducto"
              (click)="titulo('Editar', habitacion.idHabitacion)"
            >
              Editar
            </button>
            <button
              class="btn btn-danger"
              (click)="eliminarHabitaciones(habitacion.idHabitacion)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <form [formGroup]="formHabitaciones">
    <div class="modal fade" id="modalProducto">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ title }}</h5>
            <button
              type="button"
              class="btn-close"
              (click)="cerrarBoton()"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Descripcion"
                    formControlName="descripcion"
                    required
                  />
                  <label for="Descripcion">Descripcion</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Numero de Habitación"
                    formControlName="numeroHabitacion"
                  />
                  <label for="Numero">Numero de Habitación</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 mb-3 mt-3">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Image"
                    formControlName="imageHabitacion"
                  />
                  <label for="Image">Imagen</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mt-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Estado"
                    formControlName="estado"
                  />
                  <label for="Estado">Estado</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Precio por Noche"
                    formControlName="precioPorNoche"
                  />
                  <label for="Precio">Precio</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating" formGroupName="tipo">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Tipo"
                    formControlName="idTipo"
                  />
                  <label for="Tipo">Tipo de Habitación</label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="cerrarBoton()"
            >
              Cerrar
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="crearEditarHabitaciones(nameBoton)"
            >
              {{ nameBoton }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
