<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2>Contacto</h2>
      <p>
        Si tienes alguna pregunta, comentario o deseas realizar una reserva en
        el Hotel Estrella, no dudes en ponerte en contacto con nosotros. Nuestro
        equipo estará encantado de ayudarte en todo lo que necesites. Puedes
        comunicarte con nosotros a través de los siguientes medios:
      </p>
      <p><strong>Dirección:</strong> Calle San Ramon 150, Miraflores</p>
      <p><strong>Teléfono:</strong> +1 (555) 123-4567</p>
      <p><strong>Correo Electrónico:</strong> infohotelestrella.com</p>
      <p>¡Esperamos tener noticias tuyas pronto!</p>
    </div>
  </div>
</div>
