:root {
  --background-color: white;
  --text-color: black;
  --link-color: black;
}

.dark-mode {
  --background-color: #121212;
  --text-color: white;
  --link-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}

.navbar-brand {
  color: var(--link-color);
  transition: color 0.5s;
}

.item-link {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.5s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.icon {
  display: inline-block;
  margin-left: 8px;
}
