<div class="container my-4">
  <div class="col-12">
    <h2>Buscar Habitaciones</h2>
    <form
      [formGroup]="formFiltrado"
      class="d-flex align-items-end justify-content-left gap-4"
    >
      <div class="form-group">
        <label>Capacidad:</label>
        <input
          class="form-control"
          type="number"
          name="capacidad"
          placeholder="Cantidad"
          formControlName="capacidad"
          style="width: 120px"
          min="1"
        />
      </div>

      <div class="form-group">
        <label>Fecha de inicio:</label>
        <input
          class="form-control"
          type="date"
          name="fechaInicio"
          formControlName="fechaEntrada"
          style="width: 250px"
        />
      </div>

      <div class="form-group">
        <label>Fecha de salida:</label>
        <input
          class="form-control"
          type="date"
          name="fechaSalida"
          formControlName="fechaSalida"
          style="width: 250px"
        />
      </div>

      <button
        class="btn btn-success"
        style="width: 120px"
        type="button"
        (click)="buscarHabitaciones()"
      >
        Buscar
      </button>
    </form>
  </div>
</div>
